Options ALL -Indexes
ErrorDocument 404 http://%{HTTP_HOST}
ErrorDocument 403 http://%{HTTP_HOST}

RewriteEngine on
RewriteCond %{HTTP_HOST} ^(YOUR_DOMAINN)$

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
